*{
    margin: 0;
    padding: 0;
    font-style: italic;
}



/*Estilos del titulo y el parrafo inicial(primer contenedor).*/
.primer_contenedor{
    background-color: #D38230;
    padding: 30px;
}
.titulo{
    text-align: center;
    color: aliceblue;
}
.parrafo_inicio{
    font-size: 20px;
    color: aliceblue;
    float: left;
}



/*Menu de navegacion(segundo contenedor).*/
.segundo_contenedor .menu-izquierda li{
    list-style: none;
    font-size: 20px;
    color: aliceblue;
}
.menu-izquierda a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.menu-derecha {
    float: right;
  }  
.segundo_contenedor{
    position: absolute;
	left:0;
	width:100%;
}




/*Icono*/
img{
    width: 4%;
   float: right;
  }