body{
    background-image: url(../../img/fondodos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}




.video{
    background-position: center;
    width: 600px;
    margin-top: 6%;

    margin-left: 315px;
}










/*footer*/
.sexto-contenedor{
    bottom: 0;
}

