body{
    background-image: url(../../img/fondodos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}




.video{
    width: 600px;
    margin-top: 6%;
    margin-left: 500px;
}

.contenedor-video .titulo-video{
    color: aliceblue;
}




/*footer*/
.sexto-contenedor{
    bottom: 0;
}

