*{
    margin: 0;
    padding: 0;
    font-style: italic;
}



/*Estilos del titulo y el parrafo inicial(primer contenedor).*/
.primer_contenedor{
    background-color: #D38230;
    padding: 30px;
}
.titulo{
    text-align: center;
    color: aliceblue;
}
.parrafo_inicio{
    font-size: 20px;
    color: aliceblue;
    float: left;
}



/*Estilos del titulo y el parrafo inicial(primer contenedor).*/
.primer_contenedor{
    background-color: #D38230;
    padding: 1%;/*30px*/
}
.primer_contenedor p{
    display: none;
}
.titulo{
    text-align: center;
    color: aliceblue;
}
.parrafo_inicio{
    font-size: 100%;/*20px*/
    color: aliceblue;
    float: left;
}


/*estilos del menu de navegacion*/
nav{
    background: #D38230;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #000;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.menu-principal{
    position: sticky;
    top: 0;
}




/*Icono*/
img{
    width: 4%;
   float: right;
  }