@media (max-width: 858px){
    .contenedor-nosotros .parrafo-historia h1{
        font-size: 200%;
    }
    .contenedor-nosotros .parrafo-historia p{
        font-size: 150%;
    }
    .slider h1{
        font-size: 200%;
    }
    .slider p{
        font-size: 150%;
    }
}