*{
    font-style: italic;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-position: center;
}

.contenedor-nosotros{
    margin-top: 10%;/*60px*/
    display: grid;
    grid-template-rows: 250px 900px;/*250px 900px*/
}

.contenedor-nosotros h1{
    color: aliceblue;
    margin-top: 60px;/*60px*/
    margin-left: 60px;/*60px*/
    font-size: 50px;/*50px*/
    padding-bottom: 30px;/*30px*/

}
.contenedor-nosotros p{
    color: aliceblue;
    font-size: 30px;/*30px*/
    margin-left: 20px;/*20px*/
    margin-bottom: 20px;/*20px*/
}


.slider{
    margin-top: 120px;/*120px*/
    background-image: url(../../img/fondodos.jpg);
    background-repeat: no-repeat;
    background-size: 110vw 80vh;/*tamaño de la imagen*/ 
    background-attachment: fixed;
    background-color: #D38230;
}

.parrafo-historia .titulo-celular{
    display: none;
}








/*footer*/
.sexto-contenedor{
    bottom: 0;
}

