*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    column-gap: 50px;
    row-gap: 100px;
    font-style: italic;
}

body{
    background-image: url(../../img/imagenes-paginas/Pagina-Menu/fondo-pantalla.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.contenedor-principal{
    max-width: 1200px;
    margin: 50px auto;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.card{
    box-shadow: 0 4px 8px rgba(0, 0, 0.2);
    max-width: 200px;
    margin: auto;
    text-align: center;
    background-color: #D38230;
}

.precio{
    font-size: 150%;
}

.card button{
    border: none;
    padding: 12px;
    color: aliceblue;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover{
    background-color: #E16718
}
/*footer*/
.sexto-contenedor{
    margin-top: 150px;
    bottom: 0;
}