/*footer (pie de página)*/
footer {
	width: 100%;
}

.sexto-contenedor {
	width: 100%;
	background: #D38230;
	color: #fff;

}

.footer-main {
	width: 98%;
	max-width: 1000px;
	margin: auto;
	padding: 50px 0;
	display: flex;
	flex-wrap: wrap;
}

.footer-main .footer-columna h3 {
	font-size: 32px;
	margin-bottom: 20px;
}

.footer-main .footer-columna input{
	border: none;
	width: 100%;
	border: 1px solid;
	font-size: 14px;
	padding: 10px;
}

.footer-main .footer-columna input {
	border: none;
	color: #000;
	padding: 10px 40px;
	font-size: 18px;
	margin-top: 10px;
	cursor: pointer;
}

.footer-main .footer-columna .boton-envio {
	border: none;
	color: #000;
    background-color: aliceblue;
	padding: 10px 40px;
	font-size: 18px;
	margin-top: 10px;
	cursor: pointer;
}

.footer-main .footer-columna span p {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 15px;
}

.footer-icon {
	width: 100%;
	background: #000;
	border-top: 3px solid #fff;
}

.redes {
	width: 98%;
	max-width: 1000px;
	padding: 15px 0;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.footer-icons .footer-redes {
	width: 30%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.redes .footer-redes img {
	display: inline-block;
	text-decoration: none;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #fff;/*solo para ver el icono*/
	text-align: center;
}

.footer-main .footer-columna:nth-child(2) {/*extraido de ejemplo de internet!!!*/
    padding-left: 150px;
}